* {
    box-sizing: border-box;
    /*trying this out as my default box-sizing*/
    /*will need rules for ::before and ::after but they aren't used here*/
}

html {
  font-size: 62.5%;
  /*changes root font size so that 1rem=10px.Just so I can do the math easier in my head, since I'm told using rem units is best practice*/
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /*The two lines above are so web browser algorithms don't resize my text on mobile. First line for iOS, second for "everyone" else*/
}

body {
    font-size: 1.6rem;
    /*resizes all the text back to default 16px for now*/
    background-color: #0d1117;
    color: #e6edf3; 
}

img {
    display: block;
    max-width: 100%;
    /*lets containers CONTAIN their images*/
}

ol:not(article ol),
ul:not(article ul) {
    list-style: none;
    /*Add 'role="list" to elements for screen reading, list-style=none; disables on some browsers. This is just a default placeholder, but good to note anyway. */
}

a {
    text-underline-position: under;
    /* lowers underline, better readibility */
    text-decoration-thickness: 7;
    /* thickness as a % of the font size */
}

main {
    display: block;
    padding-right: 30rem;
    padding-left: 5rem;
    overflow: auto;
}

main a {
  color: #218bff;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  color: #e6edf3;
  
}

#navbar ul {
  margin: 0;
  padding: 0.5rem;
}

#navbar li {
  display: flexbox;
  margin-right: 2rem;
  padding: 0.2rem;

}

#navhead {
    padding-bottom: 1rem;
}

figure {
  display: inline-block;
  padding-bottom: 1.5rem;
  margin-left: 1rem;

}

figcaption {
  display: inherit;
  margin-top: -2rem
}