* {
    box-sizing: border-box;
    border: 1px solid green;
    /*trying this out as my default box-sizing*/
    /*will need rules for ::before and ::after but they aren't used here*/
}

html {
    font-size: 62.5%;
    overflow: auto;
    /*changes root font size so that 1rem=10px.Just so I can do the math easier in my head, since I'm told using rem units is best practice*/
}

body {
    font-size: 1.6rem;
    /*resizes all the text back to default 16px for now*/
    font-family: "Klavika Light Condensed", arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

img {
    display: block !important;
    max-width: 100%;
    /*lets containers CONTAIN their images*/
}

ol:not(article ol),
ul:not(article ul) {
    list-style: none;
    /*Add 'role="list" to elements for screen reading, list-style=none; disables on some browsers. This is just a default placeholder, but good to note anyway. */
}

ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;

}

a {
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    min-height: 10rem;
}

#header-img {
    width: 16rem;
    height: auto;
    order: 1;
    margin-left: 3em;
}

#nav-bar {
    display: flex;
    align-items: center;
    order: 2;
    margin-right: 2em;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
}

#nav-bar li {
    white-space: nowrap;
}

#nav-bar a {
    text-decoration: none;
    color: white;
    background-color: transparent;
    margin: 1rem;
}

#nav-bar a:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 0.25rem;
}

h1 {
    display: block;
}

#product-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url("https://www.amd.com/system/files/2022-04/1303168-radeon-black-red-swoosh-bg-1920x800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

h2 {
    display: flex;
    order: 1;
    color: white;
}

#title-img {
    display: flex;
    order: 2;
}

#product-lineup {
    display: flex;

}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}